.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 30px 0;
}

.movies__box {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 24px;
  padding-bottom: 30px;
}

.movies__button-box {
  margin: 50px 70px 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
}

.movies__button {
  background-color: #2F2F2F;
  border-radius: 6px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  height: 36px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
  padding: 0;
}

.movies__button_disabled {
  display: none;
}

.movies__button:hover {
  opacity: 0.7;
}

.movies__not-found {
  color: white;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: none;
}

.movies__not-found_active {
  display: block;
}

@media screen and (max-width: 1140px) {
  .movies__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 767px) {
  .movies {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .movies__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
  }
}