.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__box {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 74px auto 70px;
}

.profile__title {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.profile__form-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  position: relative;
}

.profile__form-field:last-child {
  border-top: solid #424242 1px;
  padding-top: 17px;
}

.profile__placeholder {
  width: 100%;
  background-color: transparent;
  border: none;
  color: white;
  text-align: right;
  padding: 0;
}

.profile__placeholder::placeholder {
  color: white;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.profile__placeholder-error {
  height: 20px;
  font-size: 12px;
  color: red;
  opacity: 0;
  position: absolute;
  top: 34px;
  left: 0;
  transition: 0.3s;
}

.profile__placeholder-error_active {
  opacity: 1;
}

.profile__form-text {
  color: white;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding-top: 5px;
}

.profile__edit-button {
  margin-top: 220px;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: white;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.profile__edit-button_inactive {
  pointer-events: none;
  user-select: none;
  opacity: 0.2;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__logout-button {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
  margin-top: 12px;
}

.profile__logout-button:hover {
  opacity: 0.7;
}

.profile__placeholder-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  position: absolute;
  top: 25px;
  left: 0;
  transition: 0.3s;
}

.profile__placeholder-error_active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .profile__box {
    margin-top: 236px;
    margin-bottom: 269px;
  }
}

@media screen and (max-width: 430px) {
  .profile__box {
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .profile__form {
    width: 260px;
  }
}