.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__box {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 246px;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 0;
}

.not-found__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
}

.not-found__link {
  padding-top: 184px;
  text-decoration: none;
  color: #4285F4;
  text-align: center;
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 430px) {
  .not-found__title {
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__text {
    font-size: 12px;
    line-height: 15px;
    padding-top: 10px;
  }

  .not-found__link {
    padding-top: 284px;
    font-size: 12px;
    line-height: 15px;
  }
}