.navigation__movies {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 50px;
}

.navigation__movies-link {
  color: white;
  text-decoration: none;
  padding-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.navigation__movies-link:hover {
  opacity: 0.7;
}

.navigation__saved-movies {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.navigation__saved-movies:hover {
  opacity: 0.7;
}

.navigation__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.navigation__profile-link {
  color: white;
  text-decoration: none;
  padding-right: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.navigation__profile-link:hover {
  opacity: 0.7;
}

.navigation__profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  border-radius: 4px;
  width: 26px;
  height: 30px;
}

.user-icon {
  width: 12px;
  height: 14px;
}

.menu__btn {
  display: none;
}

.menu__contain {
  display: none;
}

#menu__toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation__movies {
    display: none;
  }

  .navigation__profile {
    display: none;
  }

  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: absolute;
    top: 24px;
    right: 30px;
    width: 26px;
    height: 26px;
    opacity: 1;
    transition: opacity 0.4s ease;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn:hover {
    opacity: 0.7;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 68vw;
    height: 100%;
    margin: 0;
    background-color: #202020;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 1;
  }

  .menu__contain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    height: 65%;
    padding: 0;
    margin-top: 159px;
  }
  
  /* элементы меню */
  .menu__item {
    display: block;
    margin-bottom: 28px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu__item_active {
    border-bottom: 2px solid white;
  }

  .menu__item:hover {
    opacity: 0.7;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: .25s;
  }
  .menu__item {
    transition-duration: .25s;
  }

  .menu__profile-item {
    display: block;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s ease;
    transition-duration: .25s;
  }
  .menu__profile-item:hover {
    opacity: 0.7;
  }

  .menu__box-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .menu__profile-item {
    padding-right: 17px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .menu__box {
    width: 320px;
  }

  .menu__contain {
    height: 70%;
  }
}