.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 30px 49px;
}

.search-form__box {
  max-width: 1140px;
  width: 100%;
}

.search-form__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-form__field {
  width: 1280px;
}

.search-form__contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #424242;
  padding-bottom: 15px;
  padding-left: 6px;
}

.search-form__image {
  width: 34px;
  height: 34px;
}

.search-form__placeholder {
  width: 99%;
  color: white;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  background-color: transparent;
  border: none;
  text-align: center;
}

.search-form__placeholder::placeholder {
  color: #8B8B8B;
}

.search-form__button {
  background-color: #4285F4;
  border-radius: 48px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  padding: 8px 10px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.search-form__button:hover {
  opacity: 0.7;
}

.search-form__checkbox-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 86px 30px 62px;
  }

  .search-form__image {
    width: 46px;
    height: 46px;
  }

  .search-form__button {
    width: 58px;
    height: 34px;
  }
}

@media screen and (max-width: 430px) {
  .search-form {
    padding: 92px 14px 52px;
  }

  .search-form__contain {
    padding-bottom: 9px;
    padding-left: 0px;
  }

  .search-form__image {
    display: none;
  }

  .search-form__placeholder {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}