.header {
  padding: 0 30px;
}

.header__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__sign-up {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
  margin: 0;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.header__sign-up:hover {
  opacity: 0.7;
}

.header__sign-in {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: black;
  border-radius: 3px;
  background-color: #3DDC84;
  margin: 0 0 0 30px;
  padding: 8px 20px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.header__sign-in:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1140px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }

  .header__sign-up {
    font-size: 10px;
  }

  .header__sign-in {
    font-size: 10px;
    margin-left: 14px;
    padding: 5px 12px;
  }
}