.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 29px;
}

.checkbox__field {
  position: relative;
  width: 36px;
  height: 20px;
}

.checkbox__paragraph {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-left: 12px;
  margin: 0;
}

.checkbox__form-checkbox {
  opacity: 0;
}

.checkbox__form-checkbox + .checkbox__switcher {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('../../images/checbox-off.svg') no-repeat;
  transition: background 0.3s ease;
  cursor: pointer;
}

.checkbox__form-checkbox:checked + .checkbox__switcher {
  background: url('../../images/checkbox.svg') no-repeat;
  transition: 0.3s;
}

.checkbox__switcher {
  z-index: 0;
}

@media screen and (max-width: 430px) {
  .checkbox {
    padding-top: 43px;
  }

  .checkbox__paragraph {
    font-size: 11px;
  }
}