.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 79px 30px 20px;
}

.footer__box {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
}

.footer__contain {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: solid 1px #424242;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.footer__link {
  display: list-item;
  margin-left: 20px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 430px) {
  .footer {
    padding: 30px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__contain {
    flex-direction: column-reverse;
    padding-top: 30px;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer__link {
    margin: 0;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    color: #8B8B8B;
    margin-top: 30px;
  }
}