.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  background-color: #272727;
}

.techs__box {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__header {
  border-bottom: solid 1px #DADADA;
  width: 100%;
}

.techs__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 23px;
  letter-spacing: -0.04em;
}

.techs__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 90px 0 0;
}

.techs__subtitle {
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
  margin-top: 26px;
}

.techs__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}

.techs__block {
  width: 90px;
  height: 60px;
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
 }

  .techs__heading {
    font-size: 22px;
    line-height: 27px;
 }

  .techs__title {
    margin-top: 80px;
 }

  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
 }

  .techs__blocks {
    margin-top: 83px;
    flex-wrap: wrap;
 }
  .techs__block {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 430px) {
  .techs {
    padding: 70px 18px;
    background: #202020;
 }

  .techs__header {
    border-bottom: solid 1px #000000;
    width: 100%;
  }

  .techs__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .techs__title {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 24px;
 }

  .techs__blocks {
    flex-wrap: wrap;
    width: 178px;
    margin-top: 50px;
  }

  .techs__block {
    margin: 0 0  10px 0;
  }
}