.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__box {
  max-width: 396px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto;
}

.login__heading {
  width: 100%;
}

.login__title {
  margin: 0;
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: white;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

.login__form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.login__form-text {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 10px;
}

.login__placeholder{
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  background-color: #2F2F2F;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px;
}

.login__placeholder::placeholder {
  color: #8B8B8B;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
}

.login__button {
  width: 396px;
  height: 45px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #4285F4;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 69px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
  
.login__button:hover {
  opacity: 0.7;
}

.login__text {
  color: #8B8B8B;
  text-align: center;
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.login__link {
  text-decoration: none;
  color: #4285F4;
  text-align: center;
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.login__link:hover {
  opacity: 0.7;
}

.login__placeholder-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  position: absolute;
  bottom: -24px;
  left: 0;
  transition: 0.3s;
}

.login__placeholder-error_active {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .login__box {
    margin-top: 232px;
    margin-bottom: 232px;
  }

  .login__placeholder {
    width: 93%;
  }

  .login__button {
    margin-top: 159px;
  }
}

@media screen and (max-width: 430px) {
  .login__box {
    margin-top: 56px;
    margin-bottom: 30px;
    max-width: 260px;
    width: 100%;
  }

  .login__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login__title {
    margin-top: 50px;
  }

  .login__form {
    margin-top: 80px;
  }

  .login__placeholder {
    width: 90%;
  }

  .login__button {
    margin-top: 157px;
    width: 260px;
    font-size: 12px;
    line-height: 15px;
  }

  .login__text {
    font-size: 12px;
    line-height: 15px;
  }

  .login__link {
    font-size: 12px;
    line-height: 15px;
  }
}