.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 50px 100px;
}

.about-me__box {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__header {
  border-bottom: solid 1px #DADADA;
  width: 100%;
}

.about-me__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.04em;
  margin-bottom: 23px;
}

.about-me__student {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__info {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 20px;
}

.about-me__title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
}

.about-me__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-top: 18px;
}

.about-me__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  margin-top: 26px;
}

.about-me__photo {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 270px;
  height: 327px;
  overflow: hidden;
}

.about-me__picture {
  height: 100%;
}

.about-me__links {
  margin-top: 80px;
}

.about-me__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.about-me__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
 }

  .about-me__heading {
    font-size: 22px;
    line-height: 27px;
  }

  .about-me__info {
    max-width: 368px;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__subtitle {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__links {
    margin-top: 35px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 430px) {
  .about-me {
    padding: 70px 14px;
 }

  .about-me__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }

  .about-me__student {
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .about-me__photo {
    border-radius: 10px;
    width: 292px;
    height: 352px;
    overflow: hidden;
  }

  .about-me__info {
    width: 100%;
    padding: 0;
  }

  .about-me__title {
    margin-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
  }

  .about-me__links {
    margin-top: 40px;
  }

  .about-me__link {
    font-size: 14px;
    line-height: 17px;
    margin-top: 40px;
  }
}