.nav-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 151px;
}
.nav-tab__buttons {
  display: flex;
  flex-direction: row;
}

.nav-tab__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 96px;
  height: 36px;
  color: #ffffff;
  background-color: #303030;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 10px;
  margin: 0 5px;
  opacity: 1;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.nav-tab__button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .nav-tab {
    margin-top: 314px;
  }
}

@media screen and (max-width: 430px) {
  .nav-tab {
    margin-top: 212px;
  }

  .nav-tab__button {
    width: 82px;
    height: 26px;
    font-size: 10px;
    border-radius: 6px;
    margin: 0 3px;
  }
}